body {
 
    background-color: #c4aa00;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }