.footerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 7%;
    margin-bottom: 2%;
  }
  .github {
    display: flex;
    justify-items: baseline;
  }
  
  .linkedin {
    display: flex;
    justify-items: baseline;
  }
  
  .githubimage {
    height: 15px;
    margin: 4px 0px;
    margin-right: 7px;
  }
  
  .linkedinimage {
    height: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 7px;
  }
  
  .linktext {
    text-decoration: none;
    color: blue;
    font-size: 10;
  }
  
  .footerText {
    color: black;
  }
  
  .footerLogo {
    align-self: flex-end;
    margin-bottom: 5px;
  }
  