.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.githubimage {
  height: 27px;
  margin-bottom: 4px;
  margin-left: 20px;
}

.linkedinimage {
  height: 35px;
  margin-left: 20px;
  margin-top: 12px;
}

.footerName {
  margin-left: 30px;
}
