.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.headerLinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.link {
  margin-right: 20px;
}

.headerName {
  font-size: 25px;
}

hr {
    border: solid;
   border-width: 1px; 
}
