.project {
  display: flex;
  flex-wrap: flex;
  align-content: space-around;
}
.projectPic {
  height: 250px;
  margin-bottom: 4px;
  margin-left: 20px;
}

.webLink {
  font-size: 8px;
  text-align: center;
}
.btg h4 {
  color: #5e2cba;
  text-align: center;
}

.btg p {
  margin-left: 10px;
  font-size: 10px;
}

.btg img {
  height: 35px;
  margin-bottom: 4px;
  margin-left: 20px;
}

.weatherTitle {
  color: black !important;
}

